* {
    font-family: "Raleway", sans-serif;
}


.logo-nav {
    width: 50px;
}

.body {
    background-color: white;
}

.custom-hr {
    border: 0;
    height: 1px;
    background: rgb(129, 129, 129);
    opacity: 10;
}


.icon {
    background-color: #b32541;
    color: white;
    width: 100%;
    padding: 2px;

}

.texto-mio {
    text-align: left;
    color: black;

}

.card-img-top {
    height: 10rem;
}

.card-body {
    text-align: left;
    background-color: #b32541;
}

.card-title {
    font-size: 17px;
    color: black;
}

.card-text {
    font-size: 14px;

}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: auto;
    padding: 10px 20px;
    background-color: #b32541;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button:hover {
    background-color: #51111e;
}

.availability {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.time-slot {
    width: 30px;
    height: 20px;
    margin: 2px;
    background-color: #4CAF50;
}

.time-slot.occupied {
    background-color: #f44336;
}

.suggestions {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.occupied {
    background-color: #f0f0f0;
    text-decoration: line-through;
}





.footer {
    background-color: #c4c4c4;
    padding: 10px 0;
}

.redesIconos a {
    padding-left: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logoFooter img {
    width: 40px;
    height: auto;
}