* {
    font-family: "Raleway", sans-serif;
}


.logo-nav {
    width: 50px;
}

.body {
    background-color: white;
}

.custom-hr {
    border: 0;
    height: 1px;
    background: rgb(129, 129, 129);
    opacity: 10;
}


.icon {
    background-color: #b32541;
    color: white;
    width: 100%;
    padding: 2px;

}

.texto-mio {
    text-align: left;
    color: black;

}

.card-img-top {
    height: 10rem;
}

.card-body {
    text-align: left;
    background-color: #b32541;
}

.card-title {
    font-size: 17px;
    color: black;
}

.card-text {
    font-size: 14px;

}

.footer {
    background-color: #c4c4c4;
    padding: 10px 0;
}

.redesIconos a {
    padding-left: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logoFooter img {
    width: 40px;
    height: auto;
}